<body id="top">
    <div class="wrapper row2">
    </div>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->

            <div class="content full-width">
                <!-- ################################################################################################ -->
                <h1>HOW TO KNOW A FLOOD PRONE AREA</h1>
                <p>There are several visual signs that can indicate that you live in a flood-prone area. Here are a few to look out for:</p>

                <h1></h1>
                <div class="scrollable">
                    <table>
                        <thead>
                            <tr>
                                <th>Cause </th>
                                <th>Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Low-lying areas</td>
                                <td>Areas that are situated at or below sea level, or near a body of water, are more likely to flood during heavy rains or storms. In addition, areas with poor drainage may also experience flooding. If your property is in a low-lying area, you should be aware of the risks and take necessary precautions, such as having flood insurance and keeping important documents and valuables in a safe place.</td>

                            </tr>
                            <tr>
                                <td>Nearby water sources: </td>
                                <td>
                                    <a>
                                        Streams, rivers, and other bodies of water can be sources of flooding. During heavy rain, these water sources can overflow and cause flooding in nearby areas. If you live near a water source, it's important to stay aware of weather conditions and be prepared in case of flooding.

                                        .<br>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td>Previous flood events:</td>
                                <td>If your area has experienced floods in the past, it's likely that it could happen again. This is especially true if the flood was caused by a natural disaster, such as a hurricane or severe storm. Check with local government agencies to find out about previous flood events in your area and take necessary precautions.</td>

                            </tr>
                            <tr>
                                <td>Elevation:</td>
                                <td><a> at a lower elevation than surrounding areas are more likely to flood, as water naturally flows downhill. If your property is situated at a lower elevation, it's important to take necessary precautions, such as having flood insurance and preparing an emergency kit.</a></td>

                            </tr>
                            <tr>
                                <td>Drainage systems</td>
                                <td>Proper drainage systems can help prevent flooding, but if they're poorly maintained or non-existent, it can lead to flooding. If your area doesn't have proper drainage systems, you may want to consider installing them or contacting local government agencies to have them installed.</td>

                            </tr>

                            <tr>
                                <td>Soil type:</td>
                                <td><a href="#">Certain soil types, such as clay soils, are more susceptible to flooding than others. This is because clay soil is less permeable and can hold water for longer periods of time, leading to saturation and potential flooding. If you live in an area with clay soil, it's important to take necessary precautions and be aware of potential flood risks.</a></td>

                            </tr>

                            <tr>
                                <td>Flood warning signs</td>
                                <td>Signs indicating a flood-prone area, such as "flood zone" or "high water mark," are placed by local government agencies to warn residents of potential flood risks. If you see these signs, it's important to be aware of the risks and take necessary precautions, such as having flood insurance and being prepared for emergencies.</td>

                            </tr>


                        </tbody>
                    </table>
                    <p>Overall, it's important to be aware of potential flood risks in your area and take necessary precautions to protect yourself and your property. This can include having flood insurance, preparing an emergency kit, and staying informed about weather conditions and flood warnings..</p>
                </div>

            </div>
        </main>
        <div class="clear"></div>
    </div>
</body>
