<body id="top">
    <div class="wrapper row3">
      <main class="hoc container clear"> 
        <!-- main body -->
        <!-- ################################################################################################ -->
   
        <div class="content full-width"> 
          <!-- ################################################################################################ -->
          <h1>HOW TO REMAIN PREPARED FOR A FLOOD INCIDENT</h1>
          <p>Preparing for a flood can help minimize damage and ensure your safety. Here are some steps you can take to prepare for a flood:</p>
      
          <h1></h1>
          <div class="scrollable">
            <table>
              <thead>
                <tr>
                  <th>Direction </th>
                  <th>Description</th>
              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>STAYING INFORMED</td>
                  <td>Staying informed about the potential for flooding is critical to preparing for a flood. Make sure you have access to local weather reports and emergency alerts, and keep up-to-date with the latest information from your local authorities.

                    Check the weather forecast regularly, and be aware of any warnings or watches issued by the National Weather Service. A flood warning means flooding is imminent or already occurring, while a flood watch means that flooding is possible in your area.
                
                    Additionally, follow local authorities and emergency management agencies on social media, and sign up for emergency notifications from your local government. These notifications can alert you to potential hazards and provide guidance on what actions you should take in the event of a flood.
                
                    It's also a good idea to have a plan for how you will receive and share information with your family and loved ones in case communication networks are disrupted during a flood. Make sure everyone in your household knows how to access important information and emergency alerts, and establish a communication plan for how you will check in with each other and share updates during an emergency.</td>
              
                </tr>
                <tr>
                  <td>CREATE AN EMERGENCY PLAN</td>
                  <td>Creating an emergency plan with your family is an important step in preparing for a flood. This plan should outline what actions you will take in the event of a flood, including evacuation procedures, communication protocols, and plans for caring for any pets or livestock.

                    Here are some tips for creating an emergency plan for a flood:<br>
                
                    Evacuation routes: Identify safe evacuation routes out of your area and establish a meeting place outside of the flood zone. Make sure everyone in your household knows the evacuation routes and the location of the meeting place.<br>
                
                    Communication plan: Establish a communication plan for how you will stay in touch with each other during the flood. This may include setting up a group chat, identifying a primary contact person, or having a designated radio channel to communicate on.<br>
                
                    Emergency contacts: Create a list of emergency contacts, including family members, friends, and emergency services. Make sure everyone in your household has a copy of the list.<br>
                
                    Supplies: Prepare an emergency kit with essential supplies, including non-perishable food, water, first aid supplies, a flashlight, and batteries. Make sure everyone in your household knows where the emergency kit is located.<br>
                
                    Pets and livestock: Make arrangements for the care of pets and livestock in the event of a flood. Identify a safe place to bring them, and make sure you have enough food and supplies for them.<br>
                
                    Special needs: If anyone in your household has special needs, make sure you have a plan for their care and transportation in the event of a flood.<br>
                
                    Practice the plan: Review your emergency plan with your family regularly, and practice it at least once a year. This will help ensure that everyone knows what to do in the event of a flood.<br>
                
                    By creating an emergency plan for a flood, you can help ensure that your family is prepared and knows what to do in the event of an emergency.<br></td>
              
                </tr>
                <tr>
                  <td>PREPARE AN EMERGENCY KIT</td>
                  <td>Preparing an emergency kit is an essential part of preparing for a flood. It should contain enough supplies to last for at least 72 hours, as it may take that long for rescue teams to reach you or for floodwaters to recede. Items to include in your emergency kit include water, non-perishable food, first aid supplies, flashlights, batteries, cash, important documents, medications, clothing, and hygiene items. Store your emergency kit in a waterproof container and keep it in a location that is easily accessible in case of an emergency. Check it regularly to ensure it is well-stocked and that all items are in good condition.</td>
              
                </tr>
                <tr>
                  <td>SECURE YOUR PROPERTY</td>
                  <td>If you have pets or livestock, it is important to make arrangements for their care in the event of a flood. These include identifying safe locations, having a pet emergency kit, making arrangements for larger animals, keeping pets with you, practicing evacuation procedures, and staying informed. It is important to include pets and livestock in your emergency preparedness plan as they are part of your family and can help ensure that they stay safe and healthy during an emergency.</td>
              
                </tr>
                <tr>
                  <td>SHUT OFF UTILITIES</td>
                  <td><a href="#">Know how to shut off electricity, gas, and water in case of a flood. Turn off utilities if you are instructed to do so by authorities.</a></td>
              
                </tr>

                <tr>
                  <td>ELEVATE YOUR PROPERTY</td>
                  <td><a href="#">Consult with a professional to determine the best elevation solution for your property. Evaluate the flood risk, elevate the foundation, protect utilities, consider flood vents, maintain proper drainage, obtain necessary permits, and follow all necessary guidelines and regulations. Elevating your property can be a costly and complex process, but it can help protect your home or building from flood damage and potentially reduce flood insurance premiums.</a></td>
              
                </tr>

                <tr>
                  <td>EVACUATE WHEN INSTRUCTED</td>
                  <td><a href="#">Evacuate when instructed: If local authorities issue an evacuation order, follow it immediately. Don't attempt to drive or walk through floodwaters, as they can be deeper and faster-moving than they appear.</a></td>
              
                </tr>


              </tbody>
            </table>
            <p>By taking these steps, you can better prepare yourself and your property for a flood and minimize damage and risk to yourself and your family.</p>
          </div>
      
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
      </main>
    </div>
</body>