
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
/* DEMO ONLY */
</style>
<body id="top">
    <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/flood1.jpg'); background-position:center">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
      <div id="breadcrumb" class="hoc clear"> 
        <!-- this area is the intoroductory area of the page -->
        <h2>Flood Tips</h2>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <main class="hoc container clear"> 
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content"> 
      
          <div class="group btmspace-50 demo">
            <div class=" first">
              <h3>What to do in the situation of a flood:</h3>
            </div>
            <div class="three_quarter first">It's crucial to maintain your composure and take action to guarantee your safety if you become trapped in a flood. Below are detailed recommendations for what to do:</div>
          </div>
          <!-- ################################################################################################ -->
          <h2></h2>
          <!-- ################################################################################################ -->
          <div class="group btmspace-50 demo">
            <div class="first">
              <h3>If you find yourself in a flood-prone region, attempt to get to higher ground as soon as possible. This could entail scaling a roof, a tree, or any other stable and lofty surface.</h3>
            </div>
        
            
          </div>

          <img class="imgr borderedbox inspace-5" src="../images/HIGHGROUND.JPG" alt="">
          <p>When choosing a higher ground, try to look for a sturdy structure that can withstand floodwaters, such as a building or a bridge. Avoid climbing onto trees or vehicles, as they can be unstable and unsafe. Additionally, you should avoid any structures that are close to waterways, such as riverbanks or beaches, as they are more vulnerable to flooding.</p>
          <p>Once you've found a safe place to go, try to stay there until help arrives. If you need to move to a different location, make sure you assess the situation carefully and choose the safest route possible. Avoid walking through floodwaters or currents, as they can be unpredictable and dangerous. If you're unable to find higher ground, try to create a barrier between yourself and the water.</p>
          <img class="imgl borderedbox inspace-5" src="../images/SANDBAGS.jpg" alt="">
          <p><a>YOU Can use sandbags or any heavy object to create a barrier that can prevent floodwaters from reaching you. You can also use a long stick or pole to help you move through the water and find a safe place to go. In summary, getting to higher ground is crucial in a flood situation, and it's important to choose a safe and stable elevated surface. If you're unable to find higher ground, create a barrier between yourself and the water or use a long stick or pole to move through the water safely. Remember, your safety is the priority, so stay calm and make rational decisions to ensure your safety</a></p>
          <p>Turn off utilities: If you have time, turn off your electricity, gas, and water before leaving your home. This will help prevent electrical shocks, gas leaks, and water damage. Call for help: If you're trapped and need rescue, call;0806 090 7333 LASEMA EMERGENCY CONTACT NUMBER!</p>
          <p> If you have access to a phone or a working internet connection, use it to seek assistance. Stay put if necessary: If you can't get to higher ground, stay put and wait for rescue. Make sure you have something to signal for help, such as a whistle or a flashlight. Avoid contact with floodwater: Floodwater can be contaminated with sewage, chemicals, and other harmful substances.</p>
      
          <img class="imgr borderedbox inspace-5" src="../images/CONTAMINANT.jpg" alt="">
          <p>If you come into contact with floodwater, wash your hands thoroughly with soap and clean water as soon as possible. Keep important documents safe: If you have important documents, such as passports, IDs, and insurance papers, put them in waterproof bags or containers and keep them with you. keeping important documents safe on no account means treading back into dagerous places like a submerged flat or car to retreive them, remember to put your safety first at all times!</p>
          <p>Stay informed: Keep up-to-date with the latest news and weather updates, and follow any advice or instructions from local authorities. Be prepared: If you live in a flood-prone area, be prepared for future floods by having an emergency kit, making a family emergency plan, and knowing the evacuation routes in your area.</p>

          <br><br><br>

          <div class=" first">
            <h3>In summary:</h3>
            <br>
            <p>In summary, if you find yourself stuck in a flood, prioritize your safety by getting to higher ground, staying away from floodwater, turning off utilities, calling for help if necessary, and staying informed.</p>
          </div>
      
        
        </div>

          
          <!-- ################################################################################################ -->
      </main>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </div>
    <div class="wrapper row2">
      <section class="hoc container clear"> 
        <!-- This space is here to direct users toward exploring the relif of their areas in lagos -->
        <div class="sectiontitle">
          <h6 class="heading">Browse through flood prone neighbourhoods</h6>
          <p>Check through our directories to see the applicable relief of the neighbourhood you live in and if it is proone to flooding.</p>
        </div>
        <ul class="nospace group elements">
          <li class="one_third first">
            <article><a href="#"></a>
              <h6 class="heading">Lagos Island</h6>
              <p>Browse through areas within lagos island  and see flood probability. [&hellip;]</p>
              <footer><a href="pages\GALLERY  LAGOS ISLAND AREAS .html"> Check here&raquo;</a></footer>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"></a>
              <h6 class="heading">Lagos: Surulere and Surrounding Areas</h6>
              <p>Browse through areas around and within SURULERE and see the flood probability. [&hellip;]</p>
              <footer><a href="pages\GALERY SURULERE AREAS.html"> Check here &raquo;</a></footer>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"></a>
              <h6 class="heading">Lagos: Ikorodu & Epe </h6>
              <p>Browse through areas around Ikorodu & Epe and see their flood probability. [&hellip;]</p>
              <footer><a href="pages\GALLERY  IKORODU AREAS .html"> Check here &raquo;</a></footer>
            </article>
          </li>
        </ul>
        <div class="clear"></div>
      </section>
    </div>
</body>