@{
    ViewBag.Title = "Contact Us";
}
<div class="ml-5 mt-5">
    <h2>Contact Us</h2>

    <p>Feel free to contact us using the information below:</p>

    <ul>
        <li>Email: info@example.com</li>
        <li>Phone: 555-555-5555</li>
        <li>Address: XXX Main St, Anytown, Lagos, Nigeria</li>
    </ul>

</div>