@model GlobalDisasterManagement.Models.DTO.ChangePassword
@{
    ViewBag.Title = "Edit";
}

<div class="card" style="margin-top:10%; margin-right:25%; margin-bottom:10%; margin-left:25%">
    <div class="card-title m-0" style="background-color: #7c452b">
        <h2 class="text-white text-center p-3">Register for Email Early Warning System</h2>
    </div>
    <div class="card-body" style="background-color: #e4c35a;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-12 mb-2 row text-dark fw-semibold">
                    <label asp-for="OldPassword" class="col-md-6">Old Password: </label>
                    <input asp-for="OldPassword" placeholder="--Old password--" class="col-md-6 form-control mb-2" spellcheck="false" required>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 mb-2 row text-dark fw-semibold">
                    <label asp-for="NewPassword" class="col-md-6">New Password: </label>
                    <input asp-for="NewPassword" placeholder="--New Password--" class="col-md-6 form-control mb-2" spellcheck="false" required>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 mb-2 row text-dark fw-semibold">
                    <label asp-for="ConfirmPassword" class="col-md-6">Confirm Password: </label>
                    <input asp-for="ConfirmPassword" placeholder="--Confirm Password--" class="col-md-6 form-control mb-2" spellcheck="false" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" name="submit" class="btn btn-success" value="Save" />
        </form>
    </div>
</div>
